/**{
  border: solid 2px;
}*/

/************* possible colors #820263 *************/
body{
  background-color: #291720;
}
.container{
  font-family: 'Poiret One', cursive;
  margin: 0 auto;
  padding-top: 2%;
  text-align: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 3px solid #F75C03;
  color: #F75C03;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: white;
}
h3{
  margin: 1%;
}
p{
  margin: 1%;
}
.table-length{
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 0;
}
.counter{
  display: inline;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  vertical-align: bottom;
  line-height: 60px;
}
.title-section{
  font-size: 3em;
  margin-top: 30px;
}
.countdown{
  color: white;
  margin-top: 30px;
  font-size: 7em;
}